<header class="intro-header" style="background-image: url(<%= image_path "/images/about-bg.jpg" %>)">
    <div class="container">
        <div class="row">
            <p id="notice"><%= notice %></p>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Posts</h1>
                    <hr class="small">
                    <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <% @posts.each do |post| %>
            <div class="post-preview">
                <a href="<%= post.id %>">
                    <h2 class="post-title">
                        <%= post.title %>
                    </h2>
                    <h3 class="post-subtitle">
                        <%= post.subtitle %>
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#"><%= post.author %></a> <%= post.created_at %></p>
            </div>
            <hr>
          <% end %>
        </div>
    </div>
</div>